<%- include('../partials/header.ejs') %>
<main class="main">
    <div class="info">
        <h1 class="heading-primary"><%= title %></h1>
        <img src="/img/<%= img %>" alt="<%= alt %>" class="info__img">
        <p class="info__description">
            <%= text %>
        </p>
        <% if (page === 'team') { %>
        <div class="info__social">
            <a href="https://github.com/JoelMWatson" target="_blank"><ion-icon name="logo-github" size="large"></ion-icon></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/jwatsondev" target="_blank"><ion-icon name="logo-linkedin" size="large"></ion-icon></a>
        </div>
        <% } %>
    </div>
</main>
<%- include('../partials/footer.ejs') %>
